#contact {
    margin-top: 2em;
    border-bottom: 1px solid #eee;
    background-color: white;
    padding-bottom: 1em;
  }

  .cta-button {
    color: #cc4b37;
    text-transform: uppercase;
    border: 2px solid rgba(255, 103, 68, 0.91);
    border-radius: 50px;
    background: white;
}

.my-button {
    font-size: 1em;
    line-height: normal;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out, color 0.2s 0.3s;
    letter-spacing: 0;
    border-radius: 45px;
    height: auto;
    padding: 0.8em 2.1em;
}

.my-button:hover {
	cursor: pointer;
	padding: .8em 2.7em;
    text-decoration: none;
}